/* # Defaults */

:root {
  /* Theme-Dependant */
  --color-background-light: white;
  --color-background: rgb(240, 240, 240);
  --color-font: black;
  --color-font-light: rgb(32, 32, 32);
  --color-font-inverted: white;
  --color-primary-light: rgb(140, 0, 255);
  --color-primary: indigo;
  --color-primary-dark: rgb(40, 0, 70);
  /* Non-Theme-Dependant */
  --color-theme-light: grey;
  --color-theme-dark: rgb(32, 32, 32);
  --color-theme-blue: rgb(25, 0, 160);
  /* Static Variables
  Basically a copy of the first variables but these don't ever change. */
  --st-color-background-light: white;
  --st-color-background: rgb(240, 240, 240);
  --st-color-font: black;
  --st-color-font-light: rgb(32, 32, 32);
  --st-color-font-inverted: white;
  --st-color-primary-light: rgb(140, 0, 255);
  --st-color-primary: indigo;
  --st-color-primary-dark: rgb(40, 0, 70);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: var(--color-background-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background-color: var(--color-background);
  color: var(--color-font);
  transition: color 0.5s, background-color 0.5s;
}

/* # Utilities */

.preload * {
  transition: none !important;
}

.enhance {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.5s linear;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--color-primary-light) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: color 0.5s linear, background-size 0.3s,
    background-position 0s 0.3s;
}

.enhance:hover {
  color: var(--color-primary-light);
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.white-svg {
  stroke: white !important;
}

/* This is an utility class for hiding things without messing up accessibility. 
It is still in the HTML and a screen reader will read it, while display: none; breaks that. */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* --- # Theme Switcher --- */

.root {
  overflow: hidden;
}

.theme-switcher fieldset {
  border: 0;
  background: var(--color-background-light);
  display: flex;
  gap: 1vw;
  width: 13vw;
  padding: 2vh 1.5vw;
  border-radius: 15px 0 0 15px;
  position: fixed;
  justify-content: right;
  left: 90%;
  overflow: hidden;
  top: 12%;
  align-items: center;
}

.theme-switcher fieldset input[type="radio"] {
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 2px;
  border-radius: 50%;
  cursor: pointer;
}

.theme-switcher > fieldset svg {
  width: 2.5vw;
  height: 2.5vw;
  margin-right: auto;
}

.theme-switcher input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.theme-switcher input[type="radio"]#light {
  --radio-color: var(--color-theme-light);
}

.theme-switcher input[type="radio"]#dark {
  --radio-color: var(--color-theme-dark);
}

.theme-switcher input[type="radio"]#blue {
  --radio-color: var(--color-theme-blue);
}

:root:has(#dark:checked) {
  --color-background-light: #181a1b;
  --color-background: #202325;
  --color-font: white;
  --color-font-light: rgb(240, 240, 240);
  --color-font-inverted: black;
  --color-primary-light: #c371ff;
  --color-primary: #971aff;
  --color-primary-dark: #200038;
}

/* --- # Header --- */

header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-font);
  /* outline: solid 1px black; */
}

header .trademark,
header .pages,
header .burger {
  display: flex;
  margin: 0 2vw;
  gap: 2vw;
  align-items: center;
}

/* --- ## Trademark --- */

header .trademark {
  font-size: 1.75em;
  font-weight: 700;
  z-index: 9999;
}

header .trademark .logo {
  height: 10vw;
  max-height: 70px;
}

header .trademark img {
  height: 100%;
  border-radius: 50%;
}

header .trademark a {
  font-weight: 900;
  font-size: 2.5rem;
}

/* --- ## Pages --- */

header .pages {
  font-size: 1.5rem;
}

header .page {
  transition: 0.5s linear;
  font-weight: 700;
}

header:has(.page:hover) > * .page:not(:hover) {
  opacity: 0.3;
  color: var(--color-font-light);
}

header a:not(.logo) {
  text-decoration: none;
  color: var(--color-font);
  padding-bottom: 2px;
  background-image: linear-gradient(var(--color-primary-light) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: 0.5s linear, background-size 0.5s, background-position 0s 0.5s;
}

header a:hover:not(.logo) {
  text-shadow: 0px 0px 1px var(--color-primary);
  color: var(--color-primary-light);
  background-position: 100% 100%;
  background-size: 100% 2px;
}

/* --- ## Burger --- */

header .burger {
  display: none;
  cursor: pointer;
  z-index: 9999;
}

header .burger svg {
  width: 6vh;
  height: 6vh;
  min-width: 45px;
  min-height: 45px;
  max-width: 55px;
  max-height: 55px;
  stroke: var(--color-font);
  stroke-width: 2;
  transition: stroke 1s linear;
}

/* ## Utility Classes */

.burger-menu {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  overflow: hidden;
  top: 0;
  left: 100%;
  transition: 1s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  font-size: 2rem;
  font-weight: 700;
}

body:has(.burger-menu.burger-shown) header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.burger-menu a {
  color: var(--color-font-inverted);
  text-decoration: none;
}

.burger-shown {
  left: 0%;
}

.burger-header {
  color: var(--color-font-inverted) !important;
}

/* --- # Main --- */

main {
  min-height: 70vh;
}

main > div {
  /* outline: solid 1px black; */
  min-height: 100vh;
  margin: 7.5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- ## About --- */

main > div:first-child {
  min-height: 75vh;
}

/* --- ### Myself | Left-Part (Text) --- */

main .about .myself-text {
  max-width: 40vw;
}

main .about .myself-text h2 {
  font-size: 2.75rem;
  font-weight: 900;
  color: var(--color-font-light);
  margin-block: 8vh;
  white-space: nowrap;
}

main .about .myself-text p {
  font-weight: 500;
  font-size: 1.5rem;
  margin-block: 5vh;
}

/* --- ### Myself | Right-Part (Img) --- */

main .about .myself-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .about .myself-icons .img-me {
  background-color: var(--color-background-light);
  padding: 6vh 3vw;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5vh;
  margin-right: 10vw;
}

main .about .myself-icons .img-me div {
  margin: -25px 0 0 0;
  background-color: var(--color-primary-dark);
  box-shadow: 0 80px 100px -80px var(--color-primary-light) inset;
  transition: 0.2s, background-color 0.5s linear, color 0.5s linear;
  color: var(--color-font-inverted);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1vh 1vw;
  border-radius: 15px;
  width: 96px; /* 5vw on my usual desktop, 1920*0.05 */
}

main .about .myself-icons .img-me div p {
  margin: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}

main .about .myself-icons .img-me img {
  width: 25vw;
  border-radius: 50%;
  transition: 0.2s linear;
}

main .about .myself-icons .img-me div:hover,
main .about .myself-icons .img-me img:hover + div {
  background-color: var(--color-primary-light);
  box-shadow: 0 100px 100px -100px pink inset;
  width: 230px; /* 12vw on my usual desktop, 1920*0.12 */
}

main .about .myself-icons .img-me:has(div:hover) img,
main .about .myself-icons .img-me img:hover {
  border-radius: 0;
}

/* --- # Footer --- */

footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: solid 1px black;
}

footer .author,
footer .links {
  display: flex;
  align-items: center;
  margin: 0 2vw;
  gap: 2vw;
}

footer .links img,
footer .links svg {
  height: 6vh;
  width: 6vh;
}

/* XL-Size 1200px Breakpoint */

@media screen and (max-width: 1200px) {
  main .about .myself-text {
    max-width: 50vw;
  }

  main .about .myself-icons .img-me {
    margin-right: 2.5vw;
  }
}

/* L-Size 1000px Breakpoint */
@media screen and (max-width: 1000px) {
  main .about {
    flex-direction: column;
    align-items: center;
  }

  main .about .myself-text {
    max-width: 80vw;
    margin-inline: 5vw;
    margin-bottom: 5vw;
  }

  main .about .myself-icons .img-me img {
    width: 50vw;
  }
}

/* M-Size 800px Breakpoint */
@media screen and (max-width: 800px) {
  header .pages {
    display: none;
  }

  header .burger {
    display: flex;
  }

  header .trademark,
  header .pages,
  header .burger {
    margin: 0 5vw;
    gap: 3vw;
  }
}

/* S-Size 600px Breakpoint */
@media screen and (max-width: 600px) {
  header .trademark a {
    font-size: 1.75rem;
  }

  header .burger svg {
    min-width: 30px;
    min-height: 30px;
  }

  main .about .myself-text h2 {
    font-size: 7.5vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  main .about .myself-text p {
    font-size: 1.25rem;
  }

  main .about .myself-icons .img-me img {
    border-radius: 30px !important;
    padding: 4vh 2vw;
  }

  main .about .myself-icons .img-me div {
    width: 36vw !important;
    margin-top: -15px;
  }

  main .about .myself-icons .img-me div p {
    font-size: 4vw;
  }
}

/* XS-Size 300px Breakpoint */
@media screen and (max-width: 300px) {
  header .trademark a {
    font-size: 1.25rem;
  }

  main .about .myself-text p {
    font-size: 1rem;
  }
}

/* Mobile device (Phone, Tablet...) */
@media only screen and (hover: none) and (pointer: coarse) {
  main .about .myself-icons .img-me div {
    background-color: var(--color-primary-light);
    box-shadow: 0 100px 100px -100px pink inset;
    width: 230px; /* 12vw on my usual desktop, 1920*0.12 */
  }

  main .about .myself-icons .img-me img {
    border-radius: 15px;
  }
}
