/* Utilities */

:root {
  --color-background: rgb(224, 224, 224);
  --color-primary: indigo;
  --color-primary-dark: rgb(40, 0, 70);
  --color-font: black;
  --color-font-light: rgb(32, 32, 32);
  --color-font-inverted: white;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background-color: var(--color-background);
}

.preload * {
  transition: none !important;
}

.enhance {
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s linear;
}

.enhance:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 1px black;
}

/* Header */

header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-font);
  /* outline: solid 1px black; */
}

header .trademark,
header .pages {
  display: flex;
  margin: 0 2vw;
  gap: 2vw;
  align-items: center;
}

header .trademark {
  font-size: 1.75em;
  font-weight: 700;
}

header .trademark .logo {
  height: 10vh;
}

header .trademark img {
  height: 100%;
  border-radius: 50%;
}

header .trademark a {
  transition: 0.5s linear;
}

header .trademark a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 1px black;
  color: var(--color-primary);
}

header .pages {
  font-size: 1.5rem;
}

header .page {
  transition: 0.5s linear;
  font-weight: 500;
}

header:has(.page:hover) > * .page:not(:hover) {
  opacity: 0.3;
  color: var(--color-font-light);
}

header .page:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 1px black;
  color: var(--color-primary);
}

header a {
  text-decoration: none;
  color: var(--color-font);
}

main {
  min-height: 70vh;
}

main > div {
  /* outline: solid 1px black; */
  min-height: 100vh;
  margin: 7.5vh 5vw;
  display: flex;
  justify-content: space-between;
}

main > div:first-child {
  min-height: 75vh;
}

main .about .myself-text {
  max-width: 40vw;
}

main .about .myself-text h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-font-light);
  margin-block: 8vh;
}

main .about .myself-text p {
  font-weight: 500;
  font-size: 1.25rem;
  margin-block: 5vh;
}

main .about .myself-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .about .myself-icons .img-me {
  background-color: white;
  padding: 6vh 3vw;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5vh;
  margin-right: 10vw;
}

main .about .myself-icons .img-me p {
  margin: -25px 0 0 0;
  background: var(--color-primary);
  color: var(--color-font-inverted);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1vh 1vw;
  border-radius: 15px;
}

main .about .myself-icons .img-me img {
  width: 40vh;
  border-radius: 50%;
}

footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: solid 1px black;
}

footer .author,
footer .links {
  display: flex;
  align-items: center;
  margin: 0 2vw;
  gap: 2vw;
}

footer .links img,
footer .links svg {
  height: 6vh;
  width: 6vh;
}
